/* ==========================================================================
   Columbia College - CSS Styles
========================================================================== */

body {
	color: 444 !important;
}

/* ===============================
	COLORS
=============================== */

.med-cardinal { background: #a91d36 }
.cardinal { background: #720216 }
.dark-cardinal { background: #690215 }

.light-gold { color: #a08336 ; background: #ece991 }
.med-gold { background: #ffd155 }
.gold { background: #eeb210 }

.light-brown { color: #644d0e; background: #f9f7f2; }
.med-brown { background: #a08336 }
.brown { background: #644d0e }
.dark-brown { background: #3d2d01 }

.light-green { color: #595e21; background: #f7faf7 }
.med-green { background: #969b61 }
.green { background: #595e21 }
.dark-green { background: #333702 }

.light-blue { color: #2795b6; background: #eef5fb; }
.med-blue { background: #2795b6; }
.blue { background: #0b325b; }


/* ===============================
	STRUCTURE
=============================== */
.page {
	width: 1280px;
	margin: 0 auto;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}


/* Header
------------------------------- */
/*
#top {
	position: relative;
	background: #eeb210;
	border-bottom: 1px solid #ffd155;
	z-index: 999;
}
*/

#top {
	position: relative;
	height: 35px;
	font-size: 80%;
	color: #a91d36;
	line-height: 35px;
	background: #eeb210;
	border-bottom: 1px solid #ffd155;
	z-index
}	
	/* --- Top Links Mobile --- */
	.top-links-mobile ul {
		padding: 0;
	}
	.top-links-mobile li {
		display: block;
		list-style:none;
	}
	.top-links-mobile .icon-menu {
		display: none;
	}
	
	.top-links-box {
		height: 35px;
		overflow: hidden;
	}
		
	.top-links li {
		display: inline-block;
		list-style: none;
	}
	.top-links a {
		display: block;
		margin-right: -4px;
		padding: 0 10px;
		font-size: 100%;
		color: #a91d36;
		line-height: 35px;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	.top-links a:hover {
		color: #a91d36 !important;
	}
	.top-links a:hover {
		text-decoration: underline;
		background: #ffd155;
	}
				
	.top-search {
	    display: block;
	    position: relative;
	    float: right;
	    width: 200px;
	    margin-top: 5px;
	    margin-left: 15px;
	    transition: .5s;
	    -moz-transition: .5s;
	    -webkit-transition: .5s;
	}
	
	/* --- Top Search Mobile --- */
	.top-links-mobile .columns {
		margin: 0 !important;
		padding: 0 !important;
	}
	.top-search-mobile {
		display: none;
		float: right;
		list-style:none;
	}
	.top-search-mobile li {
		display: inline-block;
		float: right;
		margin-left: 10px;
	}
	.top-search-mobile a {
		display: block;
		padding: 0 15px;
		font-size: 150%;
		color: #a91d36;
		border-left: 1px solid #ffd155;
	}
	.top-search-mobile a:hover {
		color: #6e5208 !important;
	}
		.top-search-mobile li:hover {
			color: #a91d36 !important;
			background: #ffd155;
		}
		.top-search-mobile li:hover .top-search-box {
			display: block;
		}
	.top-search-box {
		display: none;
		position: absolute;
		right: 0px;
		width: 300px;
		height: 55px;
		padding: 15px;
		background: #ffd155;
		z-index: 99;
	}		

/* --- Brand --- */
#masthead {
	padding: 30px 0;
	text-align: center;
	background: #83031a url('../_assets/img/ui/cc-masthead-bg.png') repeat-x;
	border-bottom: 1px solid #690215;
}
	#masthead .site-title{
		padding: 0 15px;
	}


/* Nav
------------------------------- */
#navbar {
	position: relative;
	background: #83031a url('../_assets/img/ui/cc-navbar-bg.png') repeat-x;
	border-top: 1px solid #a91d36;
	border-bottom: 1px solid #690215;
}
	#menu {  
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    list-style:none;
	}
	#menu li {
		display: inline-block;
		margin-right: -4px;
		text-align: left;
		border-left: 1px solid #a91d36;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	#menu a {
		display: block;
		width: 208px;
		padding: 10px 0px 15px 15px;
		font-size: 120%;
		color: #fff;
		text-shadow: 0px 1px 1px #690215;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	#menu li:last-of-type {
		border-right: 1px solid #a91d36;
	}
	#menu li:hover {
		background: #720216;
	}
	#menu li:hover .mega-menu {
		position: absolute;
		left: 0px;
		opacity: 1;
	}
	
	.menu-description {
		display: block;
		margin-top: -3px;
		font: italic 70% Georgia, serif;
		font-weight: 400;
		color: #dfa9a9 !important;
	}

.mega-menu {
	position: absolute;
	left:-999em;	
	width: 100%;
	padding: 30px 15px !important;
	background: #f3f3f3;
	border-top: 2px solid #720216;
	box-shadow: 0px 3px 10px #777;
	-moz-box-shadow: 0px 3px 10px #777;
	-webkit-box-shadow: 0px 3px 10px #777;
	opacity: 0;
	transition: opacity .7s;
	-moz-transition: opacity .7s;
	-webkit-transition: opacity .7s;
	z-index: 99;
}
	.mega-menu ul {
		margin: 0 !important;
		padding: 0;
	}
	.mega-menu li {
		display: list-item !important;
		border-left: none !important;
		border-right: none !important;
		list-style: none;
	}
	.mega-menu h4 {
		font-size: 100%;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
	.mega-menu a {
		display: inline !important;
		height: 25px;
		padding: 0 !important;
		font-size: 95% !important;
		line-height: 25px;
		color: #444 !important;
		text-shadow: none !important;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	.mega-menu a:hover {
		color: #a91d36 !important;
		text-decoration: underline;
	}
	.mega-menu li:last-of-type {
		border-right: 1px solid #690215;
	}
	.mega-menu li:hover {
		color: #a91d36 !important;
		background: none !important;
	}
	
	.mega-menu .columns {
		padding-left: 20px;
		font-size: 90% !important;
		color: #555 !important;
		border-left: 1px solid #ccc;
	}
	.mega-menu .columns:first-of-type {
		border-left: none;
	}


/* Content
------------------------------- */
#content {
	margin: 30px auto;
}
	.content img{
		width: 100%;
		height: auto;
	}

	#content h2,
	#content h3 {
		color: #690215;
	}
	
	#content h2:first-of-type {
		margin-top: 0 !important;
	}
	
	#content article ul,
	#content article ol {
		padding-left: 40px;
	}
	#content article li {
		list-style-position: outside;
	}
	#content article a {
		text-decoration: underline;
	}
	
.column-margin-right {
	padding-right: 25px;
}


/* --- Content - Home --- */
.featured-col {
	position: relative;
	margin: 5px 0;
}
	.featured-col h4 {
		position: absolute;
		bottom: 10px;
		width: 80%;
		padding: 5px 0 2px 20px;
		color: #3d2d01 !important;
		background: #eeb210;
	}


/* --- Content - Page --- */

.breadcrumbs {
	margin-bottom: 2em;
}

.subpage-banner {
	position: relative;
	height: 320px;
	margin-bottom: 2em;
	overflow: hidden;
}
	.subpage-banner h1 {
		display: block;
		position: absolute;
		bottom: 15px;
		padding: 5px 20px 2px;
		color: #3d2d01;
		background: #eeb210;
	}
	.subpage-banner img {
		width: 100%;
		height: auto;
	}
	


/* Sidebars
------------------------------- */	
.sidebar {
	font-size: 90% !important;
}
	.sidebar section {
		margin-bottom: 2.5em;
	}
	.sidebar h3 {
		margin-top: 2em;
		margin-bottom: 0.6em;
		color: #777 !important;
		border-bottom: 1px solid #e0e9be;
	}
	.sidebar h3:first-of-type {
		margin-top: 0px;
	}
	
	.sidebar li {
		padding: 5px 0;
		color: #595e21;
	}
	.sidebar a {
		color: #969b61;
		text-decoration: underline;
	}
	.sidebar a:hover {
		color: #595e21;
	}
	
aside {
	font-size: 90% !important;
}
	aside section {
		margin-bottom: 2.5em;
	}
	aside h3 {
		margin: 0;
		padding: 9px 16px 3px;
		color: #fff !important;
		text-align: left;
		background: #8a9045;
	}
	aside h3:first-of-type {
		margin-bottom: 8px;
	}
	aside img {
		width: 100%;
		height: auto;
		margin: 0;
	}
	aside .pad p {
		padding: 10px 20px;
		text-align: left;
	}
	aside p {
		padding: 10px 0px;
	}
	aside a {
		color: #a08336;
		text-decoration: underline;
	}
	aside .small-12 {
		background: #f3f3f3;
	}
	
	.faculty img {
		width: 100%;
		height: auto;
		border-bottom: 3px solid #2795b6;
	}
	.faculty h4 {
		margin-bottom: 10px;
		color: #2795b6;
	}
	.faculty ul,
	.faculty li {
		padding: 0 !important;
		list-style: none;
	}
	.faculty .faculty-title-description {
		display: block;
		color: #555;
		font: italic 65% Georgia, "Times New Roman", Times, serif;
	}
	.faculty i {
		margin-right: 5px;
	}
	.faculty i,
	.faculty a {
		color: #2795b6;
	}
	.faculty a:hover {
		color: #0b325b;
	}
	.icon-phone-sign {
		font-size: 110%;
	}
	
	
.floating-sidebar {
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}

/* --- Sub Nav --- */
.subnav {
	margin-bottom: 2.5em;
}
	.subnav ul {
		background: #e0e9be;
	}
	.subnav li {
		padding: 0 !important;
		list-style: none;
		border-bottom: 1px solid #fff;
	}
	.subnav li:last-of-type {
		border-bottom: none !important;
	}
	
	.subnav a {
		display: block;
		width: auto;
		padding: 8px 16px;
		color: #595e21 !important;
		text-decoration: none !important;
		transition: .3s;
		-moz-transition: .3s;
		-webkit-transition: .3s;
	}
	.subnav a:hover {
		color: #fff !important;
		background: #8a9045;
	}
	
.sub-resources li {
	list-style: none;
}
.sub-resources a {
	text-decoration: underline;
}

.faculty-thumb {
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #ddd;
}

.register-box {
	margin-bottom: 30px;
	color: #444;
	text-align: left !important;
}
	.register-box img {
		width: 100%;
		height: auto;
	}
	.register-box h4 {
		margin: 0;
		padding: 10px 20px !important;
		color: #fff !important;
		font: 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		background: #969b61;
	}
	.register-box p {
		padding: 10px 0;
	}


/* Footer
------------------------------- */
footer {
	font-size: 90%;	
}
	#footer-links {
		height: auto;
		padding: 50px 0;
		color: #644d0e;
		background: #eeb210;
		border-bottom: 1px solid #836004;
	}
	#footer-bottom {
		height: 80px;
		line-height: 79px;
		color: #ddd;
		background: #444;
		border-top: 1px solid #777;
	}
	footer .copyright {
		font-size: 90% !important;
		color: #999;
	}
	
	footer h4 {
		color: #3d2d01;
	}
	footer li {
		list-style: none;
	}
	footer a {
		color: #644d0e;
	}
	footer a:hover {
		color: #3d2d01 !important;
		text-decoration: underline;
	}
	footer a.icon {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-left: 10px;
		line-height: 40px;
		text-align: center;
		font-size:  120% !important;
		color: #444 !important;
		background: #777;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	footer a.icon:hover {
		color: #fff !important;
		background: #999;
	}
		
	

/* ===============================
	SEARCH
=============================== */
#search-form {
    height: 25px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
}
#search-text {
	width: 100%;
	font-size: 11px;
    color: #999;
    border-width: 0;
    background: transparent;
}
.top-search input[type="text"] {
    width: 100%;
    padding: 0px 0px 0px 10px;
    color: #333;
    outline: none;
}
	
	
/* ===============================
	ICONS
=============================== */
.icon-file-text {
	padding-right: 8px;
}
.icon-home,
.icon-edit {
	padding-right: 5px;
}
.icon-caret-right {
	margin-left: 2px;
	margin-right: 8px;
}


/* ===============================
	MISC
=============================== */
.right {
	float: right;
	text-align: right;
}

.divider {
	clear: both;
	margin-bottom: 30px;
}


/* ===============================
	RESPONSIVE
=============================== */

/* For 1920px or less (Tablet)
------------------------------- */
@media only screen and ( min-width: 1281px ) and ( max-width: 1920px ) {
	
	#top select {
		display: none;
	}
}


/* For 980px or less (Tablet)
------------------------------- */
@media only screen and ( min-width: 981px ) and ( max-width: 1280px ) {
	
	/* --- STRUCTURE --- */
	.page {
		width: 980px;
	}
	
	.top-search {
	    display: block;
	    position: relative;
	    float: right;
	    width: 100px;
	    margin-top: 5px;
	    margin-left: 10px;
	}
	
	#menu a {
		width: 155px;
		font-size: 100%;
	}
	
}


/* For 980px or less (Tablet)
------------------------------- */
@media only screen and ( min-width: 769px ) and ( max-width: 980px ) {
	
	/* --- STRUCTURE --- */
	.page {
		width: 100%;
		margin: 0;
		border: none;
	}
	
	.top-search {
		display: none;
	}
	.top-search-mobile {
		display: block;
	}
	.top-search-mobile a {
		height: 35px;
		line-height: 35px;
	}
	.top-links-mobile a {
		padding: 0 15px 0 0;
	}
	
	#menu a {
		display: block;
		width: 120px;
		padding: 10px 0px 15px 15px;
		font-size: 90%;
		border: none !important;
	}
}

/* For 768px or less (Mini Tablet)
------------------------------- */
@media only screen and ( max-width: 768px ) {
	
	/* --- STRUCTURE --- */
	.page {
		width: 100%;
		margin: 0;
		border: none;
	}	
	
	#top,
	.top-links a,
	.top-links-mobile a,
	.top-search-mobile a{
		height: 40px;
		line-height: 40px;
	}
	
	.top-links-mobile .icon-menu {
		display: block;
		padding: 0 15px;
		font-size: 160%;
	}
	.top-links-mobile a {
		display: block;
		padding: 0;
		font-size: 110%;
		color: #a91d36;
		border-right: 1px solid #ffd155;
	}
	.top-links-mobile a:hover {
		color: #6e5208 !important;
	}
	.top-links-mobile li {
		display: inline-block;
	}
		.top-links-mobile li:hover {
			background: #ffd155;
		}
		.top-links-mobile li:hover .top-links-box {
			display: block;
		}
		
		.top-links-box {
			display: none;
			position: absolute;
			height: auto;
			width: 100%;
			padding: 15px;
			background: #ffd155;
			z-index: 99;
			overflow: visible;
		}
		.top-links-box .top-links li {
			width: 100%;
			text-align: left;
		}
		.top-links-box .top-links a {
			padding: 0px;
		}
		.icon-phone,
		.icon-map-marker,
		.icon-book,
		.icon-lock {
			display: block;
			width: 30px !important;
			text-align: center;
		}
		
		.top-search {
		    display: none;
		}
	
	.top-search {
		display: none;
	}
	.top-search-mobile {
		display: block;
	}
	.top-search-box {
		width: 100%;
	}
	
	#navbar {
		padding: 10px 0;
		background: #83031a;
	}
	#menu a {
		display: block;
		width: 248px;
		padding: 10px 0px 15px 15px;
		font-size: 120%;
		border: none !important;
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	#menu li {
		background: #83031a url('../_assets/img/ui/cc-navbar-bg.png') repeat-x;
		border-top: 1px solid #a91d36;
		border-bottom: 1px solid #690215;
		border-left: 1px solid #a91d36;
		border-right: 1px solid #690215;
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	#menu li:hover .mega-menu {
		top: 162px;
	}
	#menu li:last-of-type {
		border-right: 1px solid #690215;
	}
	
	.mega-menu {
		padding: 15px 0 !important;
	}
		.mega-menu li {
			padding: 0 !important;
			background: none !important;
			border: none !important;
		}
		.mega-menu a {
			width: 100% !important;
			background: none !important;
			border: none !important;
		}
		
	#content {
		margin: 20px auto;
	}
}

/* For 480px or less (Smartphone)
------------------------------- */
@media only screen and (max-width: 479px) {
	
	/* --- Structure --- */
	#masthead {
		padding: 25px 0 20px;
	}
	#masthead .site-title img {
		width: 100%;
	}
	
	#navbar {
		display: none;
		padding: 15px 0;
		background: #83031a;
	}
	#menu a {
		display: block;
		width: 145px;
		padding: 10px 0px 15px 15px;
		font-size: 95%;
		border: none !important;
	}
	#menu li {
		background: #83031a url('../_assets/img/ui/cc-navbar-bg.png') repeat-x;
		border-top: 1px solid #a91d36;
		border-bottom: 1px solid #690215;
		border-left: 1px solid #a91d36;
		border-right: 1px solid #690215;
	}
	#menu li:hover .mega-menu {
		display: none;
	}
	#menu li:last-of-type {
		border-right: 1px solid #690215;
	}
	
	.sliderContainer {
		
	}
	
	#content {
		margin-top: 15px;
	}
	#content .columns {
		clear: both;
		width: 100% !important;
		margin-bottom: 10px;
	}
	.column-margin-right {
		padding-right: 0px !important;
	}
	.row .row {
		width: auto;
		margin-left: -0.9375em !important;
		margin-right: -0.9375em;
		margin-top: 0;
		margin-bottom: 0;
		max-width: none;
	 *zoom: 1;
	}
	
	#breadcrumb {
		display: none;
	}
	.sidebar {
		
	}
	
	.subpage-banner {
		height: auto;
		margin-bottom: 1em;
		overflow: visible;
	}
	.subpage-banner h1 {
		display: block;
		position: relative;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding: 10px 15px;
		color: #3d2d01;
		background: #eeb210;
	}
	
	aside .faculty h4 {
		font-size: 150%;
	}
	
	footer .columns {
		clear: both;
		width: 100% !important;
		margin-bottom: 10px;
	}
	
	#footer-bottom {
		height: auto;
		line-height: 100%;
		text-align: center;
		background: #444 !important;
	}
	#footer-bottom .columns {
		clear: both;
		width: 100% !important;
		padding-top: 10px;
		text-align: center !important;;
	}
		#footer-bottom .copyright{
			height: auto;
			line-height: 100%;
			text-align: center;
		}
		#footer-bottom right{
			display: inline-block;
			float: none !important;
			text-align: center !important;
		}
}

